@charset "UTF-8";

table.vertical {
	width: 80%;
	margin: 5vh auto;
	border-collapse: separate;
	border-spacing: 0;
	font-size: 1.1rem;
	line-height: 1.6;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-top: 5vh;
}

table.vertical, th, td {
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.6;
}

table.vertical th {
	white-space: nowrap;
	width: 25%;
	font-weight: 400;
	padding: 0 1vw;
	font-weight: 400;
	background-color: #232f3e;
	color: white;
	border: 1px solid darkgray;
}

table.vertical td {
	width: 75%;
	padding: 1.5vh;
	vertical-align: top;
	border: 1px solid darkgray;
}

table.horizon {
	width: 90%;
	margin: 7vh auto;
	border-collapse: collapse;
}

table.horizon th {
	white-space: nowrap;
	font-size: 1.1rem;
	border-collapse: collapse;
	padding: 0;
	height: 5vh;
	font-weight: 400;
	background-color: #232f3e;
	color: white;
	text-align: center;
	border: 1px solid darkgray;
}

table.horizon td {
	border-collapse: collapse;
	padding: 0 1vw;
	height: 7vh;
	text-align: left;
	border: 1px solid darkgray;
}

table.horizon img {
	width: 5vw;
}